<div class="container">
    <div class="about-container">

        <p>Hi!</p>
        <p> My real name is Isaac Phelon. I have lived my whole life here in Utah. I am extremely passionate about music and I am determined to turn my passion into a career!</p>
        <p>Aside from DJing, I love music production. I have been studying music production every chance I get lately, and it is something I really enjoy!  I love seeing all the different creative ways people come up with music. My goal is to be a professional music producer while expanding my DJing career—the whole reason I started DJing as a personal business is so that I can stay close to music while working towards my passion.</p>
        <p>Thanks for stopping by, I hope I can share some of my passion with you :)</p>
    </div>
</div>