.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container mat-form-field{
    width: 100%;
}

.form-container button{
    width: 100%;
}

.comments-textarea{
    height: 150px;
}

.container-margin{
    margin-top: 40px;
}

.submit-button{
    margin-bottom: 20px;
}

@media screen and (max-height: 578px){
    .container-margin{
        margin-top: 200px;
    }
}
