.container{
    height: 100%;
    width: 100%;
    /* touch-action: pan-y !important; */
}

.title{
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.sidenav {
    width: 200px;
    background-color: white;
}

.sidenav-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.list{
    width: 100%;
}

.list a{
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav-link-text{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.nav-content{
    background-color: white;
    /* touch-action: pan-y !important; */

}

.toolbar{
    background-color: white;
}

.divider{
    margin-bottom: 25px;
}

router-outlet{
    width: 100%;
    height: 100%;
}